/* Navbar */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.navbar-brand img{
  width: 120px;
  height: 50px;
  object-fit: contain;
}

.navbar li:hover{
  border-bottom: 2px solid black;
}


.Login a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.Login a:hover{
  border-bottom: 2px solid black;
}
.Login{
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 15px; 
}


.Login .child {
  margin-left: 10px;
}

/* Main-content */

.carousel-caption{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: -40%;
 margin-bottom: 20%;
}
.carousel-caption h5{
  font-size: 50px;
  color: black;
}
.carousel-caption p{
  font-size: 15px;
  color: black;
}
.carousel-inner{
width: 100%;
max-height: 100%;
}
.carousel-caption .second{
  position: absolute;
  left: 100%;
}
.slide-show{
  max-width: 100%;
  position: relative;
}
.button{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  position: relative;
  margin-top: 47%;
  z-index: -1;
}
.left {
  position: absolute;
  margin-left: 40%;
}

.right {
  position: absolute;
  margin-right: 40%;
}
.slide-show{
  position: relative;
  max-width: 100%;
}
.logo{
  margin-top: 150px;
  margin-bottom: 100px;
}
.logo .col a{
  display: block;
  white-space: nowrap;
}
.logo .col img{
  margin-left: 30%;
  width: 50px;
  height: 50px;
}
.logo .row{
  margin-left: 50px;
}

/* Card-section */

.Card {
  margin-bottom: 20px;
  margin-top: 40px;
}

/* social-section */

.Social{
  width: 100%;
  margin: 100px 0 100px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.Social ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 10px 0 0;
  cursor: pointer;
}
.Social .inner-text{
  padding-left: 80px;
  font-weight: bold;
  margin-left: 0;
}
.Social button{
  position: relative;
left: 61%;
top: -9%;
}
/* footer-section */

.footer-container{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}
.footer-container .col ul li{
  list-style: none;
  line-height: 4;
  font-size: 13px;
}
.footer-container .col{
  padding: 40px;
}
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 0;
  width: 50%; 
  background-color: rgba(230, 226, 226, 0.8);
  padding: 20px;
}
/* center-image */

.text-box {
  width: 100%; 
}

.text-box p {
  margin-bottom: 10px;
  margin-left: 30px; 
}

.text-box h2 {
  margin-left: 40px;
}
.text-box a{
  margin-left: 30px;
}



@media (max-width: 992px) {
  .text-overlay {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 10%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .carousel-inner img{
    width: auto;
    height: 400px;
  }
  .carousel-caption h5{
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container-1 {
    flex-direction: column;
    align-items: center;
  }
  .list {
    display: none;
  }
  .container-2 {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width:1200px){
  .carousel-caption h5{
    font-size: 20px;
  }
}
@media screen and (max-width:1400px){
  .carousel-caption h5{
    font-size: 30px;
  }
}







